.App {
  text-align: center;
  margin-top: 50px;
}

.table-container {
  width: 80%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}
